* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  border: none
  font-weight: 18px;

}

/*
.container-content {
  width: 825px;
  margin: auto;
  padding: 100px;
}
*/
.product { /*container do produto*/
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7f7;
  padding:20px ; /*inseri um espaço de volta no título*/
}

/*Production Information*/
.price {
  font-size: 20px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px; 
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/*Product details*/
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li{ /*este é um seletor descendente, podemos combina-lo. O "li" é o first child da "ul"*/
  margin-bottom: 10px;
}

strong {
  font-weight: 28px;
}



button:first-child{
  text-align: center;
  
}


/*button*/  /*sempre comentar cada parte do elemento que está fazendo*/
.add-cart {
  width: 100%;
  background-color: #000;
 
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: ponter;
  padding: 5px;
  border-top: 4px solid black
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
  
}

/* corrigi com um código mais limpo
span {
  color: rgba(82, 73, 73, 0.8) (117, 109, 109);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 18px;
}

article a {
  color: black;
}

button {
  background-color: white;
}
*/
